.frequencies circle {
  fill: rgb(55, 99, 115);
  stroke: red;
  stroke-width: 2.0px;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.line {
  stroke: red;
}

.axis path, .axis line {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
}

.axis text, .frequencies text {
  fill: gray;
}
